.conatinerdes{
  background: #005AA7;  
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  
background: linear-gradient(to right, #FFFDE4, #005AA7); 
justify-content: center;
font-weight: 400;
font-size: 1.25rem;
line-height: 1.5;
border: 1px transparent;
border-radius:20px;
}
